langchain-community 
langchain-groq      
load-dotenv
faiss-cpu            
fpdf                  
fpdf2                 
langchain-community   
langchain-groq        
load-dotenv          
matplotlib           
pypdf                 
PyPDF2                
sentence-transformers 
langchain_huggingface
streamlit-chat        


